@media only screen and (max-width:1300px) {
    body {
        overflow-x: hidden;
    }

    .topHeader ul li {
        margin-right: 10px;
    }

    .right-ul li {
        padding-left: 15px;
    }

    .right-ul {
        margin-right: 10px;
    }

    .inside-content {
        height: 150px;
        width: 550px;
        position: absolute;
        right: 100px;
        top: 100px;
    }

    .owl-carousel .owl-stage-outer {
        padding: 0 25px;
    }

    .desc {
        width: 300px;
    }


    .text {
        margin-left: 45px;
    }

    .youtube-video iframe {
        width: 570px;
    }

    .formula-para {
        width: 90%;
    }

    .blog-products {
        margin-left: 45px;
    }

    .country {
        margin-right: 45px;
    }

}

@media only screen and (max-width:1200px) {
    body {
        overflow-x: hidden;
    }

    .container1 {
        max-width: 970px;
    }


    .toggleMenu {
        display: block;
    }

    #nav {
        top: 100%;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background: #ffcb05;
    }

    /* #nav{
        display: none;
    } */
    #nav li:nth-child(7)::after,
    #nav li:nth-child(8)::after,
    #nav li:nth-child(9)::after {
        content: '';
    }

    /*Navigation*/
    #nav {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }

    #nav ul {
        background: #305d93;
    }

    .toggleMenu,
    #nav .menuIcon {
        display: block;
    }

    #nav li {
        float: none;
        display: block;
        border: none;
    }

    #nav li a {
        border-top: 1px solid #002d63
    }

    #nav li.parent {
        position: relative;
    }

    #nav li .menuIcon,
    #nav li li .menuIcon {
        width: 46px;
        height: auto;
        background-color: #002d63;
        background-color: rgba(0, 45, 99, 0.5);
        background-image: url(../images/down-arrow.gif);
        background-repeat: no-repeat;
        background-position: center 15px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    #nav li .menuIcon.active,
    #nav li li .menuIcon.active {
        background-color: #002d63;
        background-color: rgba(1, 36, 78, 0.5);
    }

    #nav li>a:hover,
    #nav li.hover>a,
    #nav li.active>a,
    #nav li ul li a:hover,
    #nav li ul li>a.selected,
    #nav ul a:hover,
    .noJS #nav ul a:focus,
    #nav ul a.selected,
    #nav>li>a:hover,
    #nav>li.hover>a,
    #nav>li.focus>a {
        background-color: #002d63;
        color: #fff;
    }

    #nav ul {
        width: 100%;
        display: none;
        position: static;
        transition: none;
        -webkit-transition: none;
    }

    .hasJS #nav ul {
        opacity: 1;
    }

    #nav li ul li,
    #nav ul a {
        width: 100%
    }

    #nav>li:hover>ul,
    #nav li li:hover>ul,
    #nav li li li:hover>ul {
        display: none;
    }

    #nav ul,
    #nav *:hover ul ul,
    #nav .hover ul ul,
    #nav .focus ul ul {
        margin-left: 0;
    }

    #nav li a {
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        line-height: 30px;
        font-size: 14px;
    }

    #nav li ul li a {
        padding: 7px 55px 7px 25px;
        display: block;
        line-height: 21px;
        background: url(../images/right-arrow.gif) no-repeat 15px 15px;
        color: #fff;
        border: none
    }

    #nav li ul li ul li a {
        padding-left: 45px;
        background-position: 33px center
    }

    #nav li ul li ul li ul li a {
        padding-left: 60px;
        background-position: 45px center
    }

    #nav>li>a:hover,
    #nav>li.hover>a,
    #nav>li.focus>a,
    #nav>.highlight>a {
        background-color: #34258e;
        color: #fff;
    }

    #nav li ul li a:hover,
    #nav li ul li>a.selected,
    #nav ul a:hover,
    .noJS #nav ul a:focus,
    #nav ul a.selected,
    #nav ul>.highlight>a {
        background-color: #34258e;
        color: #fff;
    }

    #nav li {
        float: none;
        display: block;
    }

    .three-items {
        float: none;
    }

    .three-items li:nth-child(1)::after {
        content: "";
    }

    .three-items li:nth-child(2)::after {
        content: "";
    }

    .mainNavigation {
        float: none;
    }

    .search-icon {
        clear: right;
        float: right;
        display: block;
        margin-top: 3px;
    }

    .search-icon li {
        padding: 10px;
    }

    .inside-content {
        height: 115px;
        width: 465px;
        position: absolute;
        right: 30px;
        top: 100px;
    }

    .inside-content p {
        font-size: 25px;
    }

    .desc {
        width: 250px;
    }

    .heading h4 {
        font-size: 20px;
    }

    .vid-para {
        width: 420px;
    }

    .you-tube-video {
        height: auto;
        right: 0px;

    }

    .you-tube-video iframe {
        width: 410px;
        height: 235px;
    }

    .formula img {
        height: 300px;
        width: 415px;
    }

    .dots {
        margin-left: 265px;
    }


    .blog {
        width: 60%;
    }

    .blog-para,
    .products-para,
    .country p {
        font-size: 15px;
    }

    .products {
        margin-left: 0px;
    }

    .vline {
        margin-left: 20px;
    }

    .country {
        width: 30%;
    }

}

@media only screen and (max-width:973px) {
    body {
        overflow-x: hidden;
    }

    .prev {
        left: 0px;
    }

    .next {
        right: 0px;
    }

    #nav {
        top: 118px;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #ffcb05;
    }

    .inside-content {
        height: 100px;
        width: 380px;
        top: 68px;
    }

    .inside-content p {
        font-size: 20px;
    }

    .desc {
        width: 300px;
    }

    .you-tube-video {
        position: absolute;
        right: 112px;
        top: 510px;
    }

    .you-tube-video iframe {
        width: 450px;
        height: 253px;
        border: 8px solid #21146f;
    }

    .formulations {
        margin-top: 335px;
    }

    .formula img {
        height: 227px;
        width: 300px;
    }

    .f-text h3 {
        font-size: 20px;
    }

    .form-slider {
        font-size: 14px;
    }

    .f-text a {
        font-size: 14px;
    }

    .dot1 {
        height: 8px;
        width: 8px;
    }

    .dots {
        margin-top: 56px;
    }

    .products {
        margin-left: 72px;
    }

    .vline {
        border: none;
    }

    .country {
        position: relative;
        right: 10%;
        width: 60%;
        top: 24px;
    }

    .country a {
        top: 0px;
    }

}

@media only screen and (max-width:767px) {
    body {
        overflow-x: hidden;
    }

    .inside-content {
        height: 80px;
        width: 315px;
    }

    .inside-content p {
        font-size: 16px;
    }

    .prev,
    .next {
        top: 43%;
    }

    .owl-carousel .owl-stage-outer {
        padding: 0px 8px;
    }

    .desc {
        width: 250px;
    }

    .heading img {
        height: 60px;
        padding: 10px 0;
    }

    .vid {
        height: 370px;
    }

    .text {
        margin-top: 25px;
    }

    .you-tube-video {
        left: 11%;
        top: 375px;
    }

    .formula img {
        height: 217px;
        width: 250px;
    }

    .form-slider {
        font-size: 13px;
    }

    .dots {
        margin-top: 50px;
    }

    footer {
        margin-top: 73px;
    }


    .blog-para,
    .products-para,
    .country p {
        font-size: 13px;
    }

    .l-line p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 639px) {
    .container1 {
        max-width: 600px;
    }

    #nav {
        top: 85%;
    }

    .right-link {
        float: none;
        padding: 10px 0px
    }

    .leftNav img {
        height: 80px;
    }

    .search-icon {
        margin-top: -7px;
    }

    .search-icon li {
        padding: 20px;
    }

    .topHeader ul li {
        padding: 3px;
        font-size: 11px;
    }

    .inside-content {
        height: 71px;
        width: 195px;
        top: 40px;
    }

    .inside-content p {
        font-size: 12px;
        padding: 7px;
    }

    .desc {
        width: 250px;
    }

    .para {
        font-size: 16px;
    }

    .para p {
        min-height: 170px;

    }

    .vid-para {
        width: 375px;
        font-size: 13px;
    }

    .text a {
        font-size: 13px;
    }

    .you-tube-video iframe {
        width: 335px;
        height: 187px;
    }

    .formulations {
        margin-top: 255px;
    }

    .f-text h3 {
        font-size: 17px;
    }

    .form-slider {
        font-size: 12px;
    }

    .formula img {
        height: 176px;
        width: 228px;
    }

    .f-text a {
        font-size: 10px;
    }

    .dots {
        margin-top: 45px;
        margin-left: 130px;
    }

    .dot1 {
        height: 7px;
        width: 6px;
    }

    footer {
        margin-top: 80px;
    }

    .blog-products {
        margin-left: 19px;
        width: 87%;
    }

    .country h5 {
        font-size: 13px;
    }


    .l-line p {
        font-size: 13px;
    }

    .adv p a i {
        font-size: 13px;
    }

    .prev,
    .next {
        font-size: 15px;
    }

    .blog-para,
    .products-para,
    .country p {
        font-size: 15px;
    }

    .prev:hover,
    .next:hover {
        font-size: 18px;
    }

    .adv p {
        padding: 0px 5px;
    }
}

@media only screen and (max-width: 580px) {
    .form-slider {
        font-size: 11px;
    }

    .desc {
        width: 300px;
    }

    .owl-carousel .owl-stage-outer {
        padding: 0px 60px;
    }

    .para {
        padding: 0px;
        font-size: 17px;
    }

    .adv {
        margin: 0px 40%;
    }
}

@media only screen and (max-width: 480px) {
    .container1 {
        max-width: 400px;
    }
    
    .topHeader ul li {
        padding: 0px;
        font-size: 10px;
    }

    .leftNav img {
        height: 68px;
    }

    .inside-content {
        height: 57px;
        width: 165px;
    }

    .inside-content p {
        font-size: 10px;
    }
    .blue_line {
        border: 2px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: 290px;
        height: 24px;
        opacity: 1.6;
        width: 99.7%;
    }
    
    
    .search-icon li {
        padding: 9px;
        font-size: 12px;
    }
    .owl-carousel .owl-stage-outer {
        padding: 0px 48px;
    }
    .slider-box {
        margin-top: -60px;
    }
    .desc{
        width: 250px;
    }

    .vid-para {
        width: 287px;
        font-size: 13px;
    }

    .you-tube-video {
        left: 5%;
    }

    .you-tube-video iframe {
        width: 290px;
        height: 163px;
    }

    .formulations {
        margin-top: 250px;
    }

    .f-text hr {
        float: left;
        border-top: 4px solid #ffcc00;
        opacity: 2.25;
        margin-top: -10px;
        width: 44%;
    }

    .formula img {
        height: 143px;
        width: 165px;
    }

    .f-text {
        margin-left: 0px;
    }

    .form-slider {
        font-size: 10px;
    }

    .dots {
        margin-top: 55px;
        margin-left: 80px;
    }

    .blog-para,
    .products-para,
    .country p {
        font-size: 12px;
    }


    .products a,
    .country a {
        font-size: 12px;
    }
    .l-line {
        padding: 0px 10px;
    }
}

@media only screen and (max-width: 380px) {
    .container1 {
        max-width: 350px;
    }

    .right-link {
        padding: 10px 3px;
    }

    .topHeader ul li {
        padding: 0px;
        font-size: 10px;
    }

    .topHeader ul li:nth-child(6),
    .topHeader ul li:nth-child(1) {
        display: none;
    }
    .owl-carousel .owl-stage-outer {
        padding: 0px 30px;
    }
    .blue_line {
        bottom: 290px;
        height: 24px;
        opacity: 1.6;
        width: 99%;
    }
    .desc{
        width:250px;
    }

    .you-tube-video {
        left: 8%;
    }

    .you-tube-video iframe {
        width: 234px;
        height: 133px;
    }

    .text {
        margin: 20px 30px;
    }

    .vid-para {
        width: 94%;
    }

    .formulations {
        margin-top: 195px;
    }
    .f-text h3:after {
        content: "";
        background: #ffcb05;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 0;
    }

    .formula {
        display: flex;
        flex-direction: column;
    }

    .formula img {
        height: 200px;
        width: 80%;
        margin: auto;
    }

    .content-slider {
        text-align: center;
        margin-top: 23px;
    }

    .form-slider {
        font-size: 11px;
        padding: 0px 18px;
        margin: 0;
        width: 100%;
    }

    .f-text a {
        margin: 14px;
    }

    .f-text hr {
        display: none;
    }

    .f-text h3 {
        text-decoration: underline;
        text-decoration-color: #ffcc00;
        text-decoration-thickness: 4px;
    }

    .dots {
        display: inline-block;
        margin: 0px auto;
    }

    footer {
        margin-top: 30px;
    }


    .blog-para,
    .products-para,
    .country p {
        font-size: 15px;
    }

    .blog-products {
        width: 95%;
        flex-direction: column;
    }

    .blog {
        width: 94%;
    }

    .products {
        width: 94%;
        margin-left: 0px;
    }

    .country {
        margin: 0px;
        width: 94%;
        right: 0px;
    }

    .products a,
    .country a {
        font-size: 17px;
    }

    .last {
        margin: 0px 10px;
    }

    .l-line {
        margin-top: 22px;
    }

    .adv {
        margin: 0px 35%;
    }

}
@media only screen and (max-width: 325px) {
    .desc {
        width: 234px;
    }
}