/* Reset CSS */
:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: #09618F;
    transition: all 350ms ease 0s;
    -webkit-transition: all 350ms ease 0s;
}

a:focus {
    outline: thin dotted
}

a:hover,
a:active {
    outline: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #25B9FB;
}

b,
strong,
dt,
th {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dd,
table,
fieldset,
address {
    margin: 0 0 20px 0;
    padding: 0;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

legend {
    white-space: normal;
}

q {
    quotes: "\201C""\201D""\2018""\2019"
}

small {
    font-size: 90%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    empty-cells: show;
    border: none;
}

table table {
    margin: 0
}

th,
td {
    border: none;
    padding: 8px 10px
}

caption,
th,
td {
    font-weight: normal;
}

/******* Clear floats *******/
.cf:before,
.cf:after,
.container:before,
.container:after,
.row:before,
.row:after,
ul:before,
ul:after,
.boxs:before,
.boxs:after,
.radioList:after,
.radioList:before {
    content: " ";
    display: table
}

.cf:after,
.container:after,
.row:after,
ul:after,
.boxs:after,
.radioList:after {
    clear: both
}


/* General Content */
html * {
    font-family: 'PT Sans', sans-serif;
    /* overflow: hidden; */
}

.flex {
    display: flex;
}

.cf:before,
.cf:after,
.container:before,
.container:after,
.row:before,
.row:after,
ul:before,
ul:after,
.boxs:before,
.boxs:after,
.radioList:after,
.radioList:before {
    content: " ";
    display: table
}

.cf:after,
.container:after,
.row:after,
ul:after,
.boxs:after,
.radioList:after {
    clear: both
}

ul li {
    list-style: none;
}

.container1 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}


/* Top Header */

.topHeader {
    background-color: #f1f2f2;
    height: 35px;
    align-items: center;
}

.right-link {
    float: right;
    bottom: 0;
}

.topHeader ul li {
    padding: 10px;
    float: left;
    font-size: 12px;
    font-weight: normal;
}

.topHeader ul li a {
    text-decoration: none;
    color: #5a5a5a;
}

.topHeader ul li a:hover {
    color: rgb(255, 55, 0);
    transition: 0.1s ease;
    text-decoration: underline;
}

.leftNav {
    float: left;
}
.mainNavigation {
    margin: 0;
    position: relative;
    z-index: 9999;
    float: right;
    padding: 10px 0px;
}

.toggleMenu {
    display: none;
    padding: 15px;
    text-decoration: none
}

.toggleMenu .mobileMenu {
    font-size: 1.250em;
    color: #000;
}

.toggleMenu .iconBar {
    float: right;
    width: 25px;
    height: 25px;
    background-image: url("../Images/menu.png") ;
}

#nav,
#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline
}

#nav li a {
    padding: 5px 16px;
    line-height: 36px;
    color: black;
    font-size:
        /*1.067em*/
        16px;
    display: inline-block;
    text-decoration: none
}

.fa-magnifying-glass {
    padding: 15px 0px;
}

#nav ul {
    width: 300px;
    top: 100%;
    padding: 0;
    left: 0;
    position: absolute;
}


.hasJS #nav ul {
    opacity: 0;
    transition: opacity 400ms linear;
    -webkit-transition: opacity 400ms linear;
}

#nav ul li {
    float: left;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav ul li a {
    display: block;
    background-color: #ffcb05;
    font-size: 1em;
    line-height: 24px;
    color: #000;
    border: none;
    border-top: 1px solid #e4e3e3;
    padding: 5px 15px 5px 15px;
    text-align: left;
}

#nav ul ul {
    top: 0;
    left: 300px
}

/*#nav a:hover, .noJS #nav a:focus, #nav ul .hover > a, #nav ul .focus > a { color:#fff }*/
#nav ul a:hover,
.noJS #nav ul a:focus,
#nav ul a.selected {
    color: #7fb6e9
}

#nav ul,
#nav :hover ul ul,
#nav .hover ul ul,
#nav .focus ul ul {
    margin-left: -9999px
}

#nav li:hover>ul,
#nav li.hover>ul,
#nav li.focus>ul,
#nav a:focus+ul,
#nav ul ul,
.noJS #nav .hover a:focus,
.noJS #nav .focus a:focus {
    margin-left: 0
}

#nav>li>a:hover,
#nav>li.hover>a,
#nav>li.focus>a,
#nav>.highlight>a {
    background-color: #34258e;
    color: #fff;
}

#nav li ul li a:hover,
#nav li ul li>a.selected,
#nav ul a:hover,
.noJS #nav ul a:focus,
#nav ul a.selected,
#nav ul>.highlight>a {
    background-color: #34258e;
    color: #fff
}

#nav ul li.focus>a {
    background-color: #786eb1;
    color: #fff;
    display: block;
}

#nav .menuIcon {
    display: none;
    position: absolute;
    right: 5px;
    top: 20px;
    width: 9px;
    height: 9px;
}

#nav li .menuIcon {
    background: url(../Images/down-arrow.gif) no-repeat right center;
    z-index: 10
}

#nav li li .menuIcon {
    display: block;
    background: url(../Images/right-arrow.gif) no-repeat right center;
    top: 13px;
    right: 10px;
    z-index: 11
}

#nav li li li .menuIcon {
    z-index: 12
}

#nav li .menuIcon.active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.noJS #nav ul a:focus {
    width: 200px;
}

.noJS #nav ul a:focus,
.noJS #nav ul a:focus+ul {
    margin-left: 9999px
}

.noJS #nav ul a:active {
    margin-left: 0
}

.hasJS .menuPart #nav a:focus+ul,
.hasJS .menuPart #nav li.focus>ul,
.hasJS .menuPart #nav li.hover>ul,
.hasJS .menuPart #nav li:hover>ul,
.hasJS .menuPart #nav ul ul {
    opacity: 1;
}


.three-items{
    float: left;
}
.three-items li{
    padding: 0 2px !important;
}
.three-items li:nth-child(1)::after{
    content: "|";
}
.three-items li:nth-child(2)::after{
    content: "|";
}
.three-items li a:hover{
    background-color: #34258e;
}
.earth:hover{
    background-color: #eaff00 !important; 
}



/* Slideshow container */
.slideshow-container1 {
    position: relative;
    margin: auto;

}

/* Hide the images by default */
.mySlides {
    display: none;
    position: relative;
}



/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #a6a1c9;
    font-weight: bold;
    font-size: 23px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 50px;
}

/* Position the "next button" to the right */
.next {
    right: 50px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    font-size: 30px;
    color: rgba(255, 89, 0, 0.8);
}

.dot {
    position: relative;
    bottom: 200px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 7px 2px;
    background-color: #ffcb05;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}
.dots
.active,
.dot:hover {
    background-color: #34258e;
}

.mySlides img {
    width: 100%;
    position: relative;
}

.blue_line hr {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: -5px;
    height: 50px;
    opacity: 0.6;
    width: 99.7%;
}



/* Inside content */
.inside-content {
    height: 150px;
    width: 610px;
    position: absolute;
    right: 200px;
    top: 285px;
    background-color: #786fb2;
}

.inside-content p {
    padding: 10px 20px;
    font-size: 30px;
    color: #ffffff;
}

/* Box Content */


.desc {
    float: left;
    background-color: #ffffff;
    margin: 20px;
    width: 375px;
    box-shadow: 3px 3px 3px 3px #ededed;
    min-height: 300px;
}

.box {
    z-index: 10;
    position: absolute;
    bottom: -150px;
}

.heading img {
    position: relative;
    left: 100px;
    top: 21px;
    height: 63px;
}

.heading h4 {
    position: relative;
    top: 20px;
    font-size: 25px;
    left: 20px;
    color: #34258e;
}

.desc hr {
    float: left;
    position: relative;
    left: 20px;
    border-top: 6px solid #ffca00;
    opacity: 2.25;
}

.para {
    clear: left;
    padding: 5px 20px;
    font-size: 15px;
    color: #5a5a5a;
    margin-right: 30px;
    min-height: 120px;
    text-align: justify;
}

.desc a {
    position: relative;
    left: 20px;
    padding: 9px;
    color: #5d1bc8;
}

.desc a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.6s;
    background-color: #ff6f00;
}



/* Middle Element */

.vid {
    background-image: url("/Images/Blue.jpg");
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 140px;
    position: relative;
}
.text {
    margin-top: 100px;
    color: white;
    float: left;
}

.vid-para {
    margin-top: 40px;
    width: 500px;
    text-align: justify;
}

.text a {
    color: #ffca00;
    padding: 10px 0;
}

.text a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.6s;
    background-color: #ff6f00;
}

.text hr {
    float: left;
    border-top: 6px solid #ffcc00;
    opacity: 2.25;
    margin-top: -9px
}


.vid .container1 {
    position: relative;
}

.you-tube-video {
    border: 20px solid rgba(255, 255, 255, 0.2);
    height: 288px;
    position: absolute;
    right: 3%;
    top: 85px;
}

.you-tube-video iframe {
    width: 550px;
    height: 287px;
    z-index: 2;
}

/* Formulations */
.formulations {
    margin-top: 70px;
}

.f-text {
    margin-left: 30px;
    height: 200px;
}

.f-text h3 {
    font-size: 25px;
    color: #34258e;
}

.f-text a {
    margin-bottom: 15px;
    padding: 10px;
    color: #34258e;
}

.f-text a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.6s;
    background-color: #ff6f00;
}

.f-text hr {
    float: left;
    border-top: 6px solid #ffcc00;
    opacity: 2.25;
    margin-top: -10px;
}

.formula-para {
    padding-top: 10px;
    width: 100%;
    text-align: justify;
}

.form-slider {
    font-size: 17px;
    font-weight: normal;
}

.dots {
    position: absolute;
    margin-top: 120px;
    margin-left: 30px;
}

.dot1 {
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Footer */
footer {
    margin-top: 60px;
}

.footer-all {
    background-image: url("/Images/Footer.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.vline {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 80px;
}

footer ul li {
    list-style: disc;
}

footer a:hover {
    color: white;
}

.blog-products {
    float: left;
    display: flex;
    min-height: 240px;
}

/* .blog{
    display: flex;
} */
.footer-all .container1 {
    padding: 26px 0;
}

.blog h3,
.products h3 {
    color: white;
}

.blog ul li {
    color: white;
}

.blog hr,
.products hr {
    float: left;
    border-top: 6px solid #ffcc00;
    opacity: 2.25;
    position: relative;
    bottom: 20px;
}

.blog ul li span {
    color: #ffca00;
}

.products {
    margin-left: 70px;
}

.products p {
    color: #ffffff;
}

.products a {
    color: #ffca00;
}

.products ul {
    color: #ffffff;
}

.v-line {
    border-left: 1px solid #8d87ac;
    position: relative;
    left: 180px;
}

.country {
    float: right;
    min-height: 240px;
}

.country h6 {
    color: #ffffff;
}

.country h5 {
    margin-top: 28px;
    color: #ffca00;
    font-size: 1rem;
}

.country p {
    color: #ffffff;
}

.country a {
    color: #ffca00;
    position: relative;
    top: 13px;
}

/* Last Line */


.l-line p {
    color: #ffffff;
}



.last {
    clear: left;
}


.l-line {
    float: left;
}

.adv {
    float: right;
}

.adv p {
    padding: 0 5px;
}