/* General Content */
html * {
    font-family: 'PT Sans', sans-serif;
}

.flex {
    display: flex;
}

.cf {
    clear: left;
}

ul li {
    list-style: none;
}

.container {
    width: 100%;
    margin-left: 160px;
    margin-right: 160px;
}

/* Top Header */

.topHeader {
    background-color: #f1f2f2;
    height: 35px;
    width: 100%;
    align-items: center;
}

.right-link {
    display: flex;
    float: right;
}

.topHeader ul li {
    padding: 5px;
    padding-left: 20px;
    /* align-items: center; */
    font-size: 0.8rem;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: bold;
}

.topHeader ul li a {
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

.topHeader ul li a:hover {
    color: rgb(255, 55, 0);
    text-decoration: underline;
}


/* NavBar */
/*  */

.main-nav {
    margin: 0;
    padding: 0;
}

.leftNav {
    float: left;
}

.rightNav {
    float: right;
    align-items: center;
    margin: 10px 0px;
}

/* .rightNav-li{
    float: left;
    padding-left:20px ;
} */
.right-ul {
    float: right;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
}

.right-ul li {
    padding-left: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

.right-ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.about-sub {
    display: none;
    z-index: 10;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    border-radius: 5px;
}

.about-sub ul li a {
    border-bottom: 2px solid rgb(215, 215, 215);
    font-size: 1rem;
    list-style: none;
    color: rgb(109, 109, 109);
}

.about-sub ul li a:hover {
    color: black;
}

.right-ul li:hover .about-sub {
    display: block;
    position: absolute;
    background-color: white;
}

.ele {
    position: relative;
    bottom: 3px;
}

.ele li::after {
    content: '|';
    font-size: 20px;
    font-weight: 10;
    margin-left: 4px;
}

.search {
    position: relative;
    right: 8px;
    top: 0px;
}

.flag {
    position: relative;
    right: 12px;
    top: -2px;
}

.main-content {
    margin-top: 10px;
}

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
    max-width: 1700px;
    position: relative;
    margin: auto;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 23px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    position: relative;
    bottom: 180px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #f2e30b;
}

.mySlides img {
    width: 1600px;
}

/* Inside content */
.inside-content {
    height: 150px;
    width: 610px;
    position: absolute;
    right: 200px;
    top: 205px;
    /* float: right; */
    background-color: #786fb2;
}

.inside-content p {
    padding: 10px 20px;
    font-size: 30px;
    color: #ffffff;
}

/* Box Content */


.desc {
    background-color: #ffffff;
    margin: 20px;
    width: 330px;
    flex: 1;
}

.box {
    position: relative;
    bottom: 150px;
}

.heading img {
    position: relative;
    left: 50px;
    top: 15px;
    height: 75px;
}

.heading h4 {
    position: relative;
    top: 20px;
    left: 20px;
    color: #34258e;
}

.desc hr {
    position: relative;
    left: 20px;
    border-top: 6px solid #ffca00;
    opacity: 2.25;
}

.desc p {
    position: relative;
    left: 20px;
    margin-right: 30px;
}

.desc a {
    position: relative;
    left: 20px;
    color: #34258e;
    font-weight: bold;
}

/* Middle Element */

.vid {
    height: 510px;
    position: relative;
    bottom: 100px;

}

.video-class {
    display: flex;
}

.text {
    position: relative;
    color: white;
    bottom: 438px;
}

.text p {
    width: 500px;
}

.text a {
    color: #ffca00;
}

.text hr {
    border-top: 6px solid #ffcc00;
    opacity: 2.25;
}

.white-element {
    position: relative;
    bottom: 438px;
    left: 38px;
}

.you-tube-video {
    position: relative;
    bottom: 378px;
    left: 20px;
}


/* Formulations */
.f-text {
    margin-left: 30px;
}

.f-text h3 {
    color: #34258e;
}

.f-text a {
    position: relative;
    top: 20px;
    color: #34258e;
}

.f-text hr {
    border-top: 6px solid #ffcc00;
    opacity: 2.25;
}

.f-text p {
    font-size: 15px;
    width: 100%;
}

.dots {
    /* position: fixed; */
    margin-top: 30px;
    /* left: 20px; */
}

.dot1 {
    position: relative;
    /* bottom: 180px; */
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot1:hover {
    background-color: #002aff;
}

/* Footer */

.foot {
    margin-top: 40px;
    max-width: 1700px;
}

.cont {
    position: relative;
    bottom: 360px;
    /* left: 100px; */
}

.cont h3 {
    color: white;
}

.cont ul li {
    color: white;
}

.cont hr {
    border-top: 6px solid #ffcc00;
    opacity: 2.25;
}

.blog ul li span {
    color: #ffca00;
}

.products {
    margin-left: 50px;
}

.products p {
    color: #ffffff;
}

.products a {
    color: #ffca00;
}

.v-line {
    border-left: 1px solid #8d87ac;
    position: relative;
    left: 80px;
}

.country {
    margin-left: 165px;
    padding: 20px;
}

.country h6 {
    color: #ffffff;
}

.country h5 {
    margin-top: 28px;
    color: #ffca00;
    font-size: 0.8rem;
}

.country p {
    color: #ffffff;
}

.country a {
    color: #ffca00;
    margin-top: 3px;
}

/* Last Line */
.last{
    position: relative;
    bottom: 290px;
}
.l-line{
    float: left;
}
.adv{
    float: right;
}

.l-line p {
    color: #ffffff;
}
.adv{
    padding: 10px;
}




footer a:hover {
    color: white;
}

footer ul li {
    list-style: disc;
}
footer{
    height: 300px;
}